.addAdmin {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .addAdmin form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .addAdmin label {
    margin-bottom: 10px;
  }
  
  .addAdmin input[type="text"],
  .addAdmin input[type="file"] {
    width: 300px;
    padding: 5px;
    margin-top: 5px;
  }
  
  .addAdmin button[type="submit"] {
    padding: 10px 20px;
    background-color: #4c6faf;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .addAdmin button[type="submit"]:hover {
    background-color: #013b5c;
  }
  .addAdmin button[type="submit"]:active {
    background-color: #5fca18;
  }
  
  .add {
    color: white;
  }

  .selected-image {
    width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
  }

  .btn-danger{
    margin-left: 25px;
  }

.row{
  margin-bottom: 50px
}

.container.mt-5 {
  margin-bottom: 50px;
}

.selectedImage{
  height: 40px;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
