.addAdmin {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .addAdmin form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .addAdmin label {
    margin-bottom: 10px;
  }
  
  .addAdmin input[type="text"],
  .addAdmin input[type="file"] {
    width: 300px;
    padding: 5px;
    margin-top: 5px;
  }
  
  .addAdmin button[type="submit"] {
    padding: 10px 20px;
    background-color: #4c6faf;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .addAdmin button[type="submit"]:hover {
    background-color: #013b5c;
  }
  .addAdmin button[type="submit"]:active {
    background-color: #5fca18;
  }
  
  .add {
    color: white;
  }

  .selected-image {
    width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
  }