.carritoForm {
    color: white;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formCarro {
    margin-bottom: 25px;
}


.btn.btn-success{
    margin-left: 22px;
    color: white !important; 
}

button{
    margin-left: 5px;
    margin-right: 5px;
}

button:active {
    background-color: blue;
    color: white;
  }

  .btn.btn-outline-danger{
    margin-top: 15px;
  }

  .btn.btn-outline-success{
    margin-top: 15px;
    color:rgb(61, 117, 61) !important;
  }

  .btn.btn-outline-success:hover{
    color:white !important;
  }