body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Century Gothic";
  }

.buttonMain {
    background-color: #000000;
    color: #1ee2e7;
    border-radius: 10px;
    border-color: #1ee2e7;
    margin-bottom: 10px;
  }

.buttonMain:hover {
  background-color: #1ee2e7;
  color: #000000;
}
  

