.login{
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input{
    margin-bottom: 20px;
}

.btn.btn-outline-info{
    margin-top: 20px;
}

