.barra1{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 2px solid transparent;
    border-top: 2px solid rgb(255, 190, 12);
    border-bottom: 2px solid rgb(255, 190, 12);
}

.sector2{
    display:flex;
    width: 360px;
    margin-right: 1%;
    
}

@media (max-width: 500px) {
    .sector2{
        width: 300px;
    }
  }


@media (max-width: 500px) {
    .items {
      margin-left: 5px;
      margin-right: 5px;
    }
  }


.name {
    color: #1ee2e7;
    margin-left: 25px;
    margin-top: 8px;
}

.name:hover {
    color: #ffffff;
    cursor: pointer;
}

.items {
    color: white;
    margin-top: 12px;
    margin-left: 90px;
    margin-right: 5px;
}

@media (max-width: 500px) {
    .items {
      margin-left: 5px;
      margin-right: 0px;
    }
  }

.items:hover {
    color: #1ee2e7;
    cursor: pointer;
}

#botoninfo{
    width: 70px;
    margin-top: 3px;
}

.admin{
    text-decoration: none !important;
}

.userIcono{
    margin-top: 7px;
    margin-right: 15px;
    margin-left: 20px;
    height: 30px;
    color: #1ee2e7;
}

@media (max-width: 768px) {
    .userIcono {
      margin-left: 30px;
      margin-right: 8px;
    }
  }

  .userNav{
    color: #1ee2e7;
    margin-left: 0px;
    margin-top: 10px;
  }

  .carritoIconNav {
    margin-top: 2.5%;
    margin-left: 20%;
    margin-right: 15px;
  }

  .carritoIconNav:hover {
    cursor: pointer;
  }
  
  .logout {
    color: #1ee2e7;
    width: 100%; /* Ancho del 100% para ocupar todo el ancho del contenedor */
    position: absolute; /* Posicionamos el elemento absolutamente */
    right: 0; /* Lo ubicamos a la derecha del contenedor */
    clear: both; /* Opcional: si es necesario evitar el flotado de otros elementos */
  }

  .logoutChild{
    float: right;
    margin-right: 5px;
  }

  .logoutChild:hover{
    cursor: pointer;
    
  }