article {
    position: relative;
    width: 270px;
    height: 450px;
    transition: all .3s ease;
}

article img:first-child {
    box-shadow: 0 60px 60px -60px rgb(255, 208, 0);
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: 450px;
}

article img:last-child {
    position: absolute;
    width: 270px;
    height: 380px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition: .3s ease;
    opacity: 0;
    filter: brightness(150%)
}

article:hover {
    transform: 
        perspective(250px)
        rotateX(10deg)
        translateY(-5%)
        translateZ(0);
}

article::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: 
    linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0,0,0,0.5) 50%,
        rgba(0,0,0) 95%
    );
    opacity: 0;
    transition: all .3s ease;
}

article:hover::before{
    opacity: 1;
}

article:hover img:last-child{
    opacity: 1;
    transform: translateY(10%);
}

.divCard {
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(320px, 1fr)
    );
    gap: 200px;
    margin: auto;
}

.main {
    display: flex;
    flex-wrap: wrap; /* Agregamos esta propiedad */
    width: 100%;
    justify-content: center; /* Alinea los elementos en el centro horizontalmente */
    margin-bottom: 40px;
  }
  
  .card-container {
    margin-top: 50px;
    width: 350px;
    margin-left: 50px;
  }

.main-container{
    width: 100%;
}

.divCard{
    color: white;
}

.productDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -100px;
    white-space: nowrap;
    font-size: 20px;
}


/* Estilo para la segunda imagen alternativa */
.article img.alternative-image {
    /* Agrega los estilos que desees para la segunda imagen alternativa */
    /* Por ejemplo, puedes cambiar el tamaño, opacidad, etc. */
    margin-top: 200px;
    color: aliceblue;
}
  