

  .slick-slide > div {
    margin: 10px 10px;
    
  }

  .slick-slide.slick-active > div {
    width: auto;
    
  }

  .slick-list {
    margin: auto;
  }
  
  .cardDetail {
    border: 1px solid #fff;
    background: black;
    border-radius: 8px;
    overflow: hidden;
    height: 300px;
    color: #fff;
    cursor: pointer;

  }

  @media (max-width: 480px) {
    .cardDetail {
      height: 200px;
    }
  }

  .card-top h1 {
    font-size: 0.9rem;
    margin: 20px;
    
  }
  
  .card-top > img {
    margin: auto;
    width: auto;
    height: 300px;
    object-fit: cover;
    background: black;
    
  }

  @media (max-width: 480px) {
    .card-top > img {
      height: 200px;
    }
  }
  .detalles {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }

  .before-after{
    width: 100%;
    height: 20px;
    background-color: rgb(255, 208, 0);
  }
  .card-bottom {
    margin: 10px 20px;
  }
  
  .category {
    position: relative;
  }
  .category::before {
    content: '';
    background: rgb(255, 61, 61);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    height: 2px;
  }

  .carritoForm{
    margin-top: 30px;
    margin-bottom: 50px !important;
  }
  
.sliderCard{
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.selected{
  background-color: #1ee2e7;
  border-radius: 10px;
}

.noSelected{
  color: #1ee2e7;
  background-color:#000000;
  border: 2px solid #1ee2e7;
  border-radius: 10px;
}

.selected:hover{
  background-color: #111e8b;
}

.noSelected:hover{
  background-color: #111e8b;
}

.buttonTalleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonTalleColorContainer{
  margin: 5px;
}

.buttonTalleContainer button {
  display: inline-block;
  margin: 5px; /* Espaciado entre los botones de talle */
}

.talleCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
  flex-direction: row;
}

.cantidad{
  display: flex;
  justify-content: center;
}