.table {
    width: 50%;
    border-collapse: collapse;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    width: 180px;
  }

  button:hover{
    background-color: #005c03;
  }
  
  table {
    width: 100%;
    background-color: gray;
  }
  
  thead th {
    background-color: #f3f7f0cc;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #e92525;
  }
  
  tbody td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #e21e1e;
  }
  
  tbody tr:hover {
    background-color: #8f9ee2;
  }

  .editBoton{
    position: relative;
    float: right;
    margin-right: 10px;
    width: 100px;
    background-color: #4a5db4;
  }

  .editBoton:hover{
    background-color: #082192;
  }
  