.tableMain {
    color: black;
}

.buttonDelete {
    color: red;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    float: right;
    background-color: rgb(131, 109, 109);
    border: 2px solid red;
    border-radius: 10px;
}

.buttonDelete:hover {
    background-color: rgb(58, 55, 53);
} 